.footer .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer {
    background-color: #2e2f42;
    width: 100%;
    padding: 100px 15px;
}

.footer .link-logo {
    color: #f4f4fd;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.footer .container {
    display: flex;
    flex-direction: column;
}